.header {
    border: 5px double #f90;
    background-color: dimgrey;
    color: #f90;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}